
@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Oxygen:wght@300;400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(39, 17, 17, 0.4),rgba(10, 10, 10, 0.5),rgba(12, 12, 12, 0.8)), url(/img/for_bigscreen.jpeg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    overflow: hidden;

    font-family: "Oxygen", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing:1px;
}

.header {

}

.con {

}

.input_button_div {
    width: 60%;
    position: absolute;
    top: 25px;
    padding: 0px 10px;

}

input {
    width: 80%;
    height: 40px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom:2px solid white;
    text-indent: 10px;
    color: white;
    font-family: "Oxygen", sans-serif;
    font-size: 1em;
    letter-spacing: 2px;
    

}

::placeholder{
    color: white;
    font-family: "Oxygen", sans-serif;
    font-size: 1.1em;
    letter-spacing: 0px;

}

button {
    width: 5%;
    height: 40px;
    border-radius: 50%;
    background-image: url(img/search-svgrepo-com.svg);
    background-size: 80% 80%;
    background-position: 4px center;
    background-repeat: no-repeat;
    color: white;
    overflow: hidden;
    border: none;

}

.inDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}


button:active {

}

#trowError {
    text-align:center;
    /* color:red; */
}

#show {
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    /* background-color: black; */


}



.show_div1 {
    width: 70%;
    height: 100%;
}

.show_div2 {
    position: absolute;
    bottom: 90px;
    width: 60%;
    padding: 0px 30px;
}

.show_con{
    width: 30%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.show_con2{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 0px 30px;
    /* gap: 200px 0px; */
}
    




.show_div4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px 0px;
    width: 100%;
    
}
.show_div5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 40px 40px;
}

.showH_div1{
    display: flex;
    justify-content: space-between;
}

.h4_disc{
    font-size: 1em;
    color: rgb(201, 201, 201);
}
.h4_disc2{
    font-size: 15px;
    text-transform: capitalize;
    font-style: italic;
    font-weight: 550;
}

hr{
    width: 100%;
}

.desMe{
    width: 100%;
    text-align: end;
}

.topText{
    font-size: 1.3em;
}

.temp_div{
    width: 100%;
    font-size: 7em;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 5px;
    font-family: "Oxygen", sans-serif;
}

.time_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-top: -30px;
}

.city_h4{
    font-size: 2em;
    font-weight: 500;
    font-family: "Oxygen", sans-serif;
}
.time_h4{
    font-size: 16px;
    font-weight: 400;
    font-family: "Oxygen", sans-serif;
    margin-top: 5px;
}

@media only screen and (max-width:500px) {
    .container {
        background-image:linear-gradient(rgba(39, 4, 4, 0.2),rgba(10, 10, 10, 0.5),rgba(12, 12, 12, 0.8)), url(/img/for_smallscreen.jpeg);
        overflow:scroll;
        background-color: rgb(43, 42, 42);
    }

    #show {
        width: 100%;
        height: 100%;
        display: block;
    }

    .show_con{
        width: 100%;
        height: 70%;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        position: relative;
        top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .show_div1 {
        width: 100%;
        height: 50%;
        background-color: transparent;
        z-index: 9988;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .show_div2 {
        position: static;
        width: 90%;
        /* text-align: center; */
        padding: 0px 0px;
        

    }
    .temp_div{
        width: 100%;
        font-size: 7.5em;
        font-weight: 500;
        font-style: normal;
        letter-spacing: 0px;
        text-align: center;
        /* background-color: white; */
    
    }

    .h4_disc{
        font-size: 1em;
        color: rgb(201, 201, 201);
        font-weight: 900;

        
    }
    .h4_disc2{
        font-size: 15px;
        text-transform: capitalize;
        font-style: italic;
        font-weight: 550;
    }

    .time_div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .city_h4{
        font-size: 1.5em;
        font-weight: 500;
        font-family: "Oxygen", sans-serif;
    }
    .time_h4{
        font-size: 16px;
        font-weight: 400;
        margin-top: 5px;
    }

    .input_button_div {
        width: 100%;
        position: static;
        margin-top: 15px;
        padding: 0px 10px;
    }
    
    input {
        width: 70%;
        height: 40px;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom:2px solid white;
        text-indent: 10px;
        color: white;
        font-family: "Oxygen", sans-serif;
        font-size: 1em;
        letter-spacing: 2px;
        border-radius: 0px;
        
    
    }
    
    ::placeholder{
        color: white;
        font-family: "Oxygen", sans-serif;
        font-size: 1.1em;
        letter-spacing: 0px;
    
    }
}